/Exercicio03C/nbproject/private/
/Exercicio03C/build/
/Exercicios em Java/Exercicio04A/nbproject/private/
/Exercicios em Java/Exercicio04A/build/
/Exercicios em Java/Exercicio04B/nbproject/private/
/Exercicios em Java/Exercicio04B/build/
/Exercicios em Java/Exercicio03C/build/
/Exercicios em Java/Exercicio03C/nbproject/private/
/Exercicios em Java/Exercicio04C/nbproject/private/
/Exercicios em Java/Exercicio04C/build/